<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.15.3/lib/theme-chalk/index.css" integrity="sha256-ghr1zmXTODLKl1HULQd6fq1MIe7m3FJiNTOCT8sddLM=" crossorigin="anonymous">
  <style>
    body {
      max-width: 800px;
      margin: 0 auto;
    }
    table td {
      /* 设置单元格的文字内容溢出时自动换行 */
      word-wrap: break-word;
    }
    .el-table tr {
	    background-color: #bec8d8; /*单数行的颜色*/
    }

    </style>
</head>
<body>
  <div id="app">
    <el-container>
        <el-header>
         <div style="
         margin: 0 auto;
         line-height: 60px;
         font-size: xx-large;
         position: relative;">
         Dashboard
     <span style="
     position: absolute;
     right: 0px;
      " v-if="showLogoutButton"><el-button
                    size="mini"
                    type="info"
                    @click="handleLogout()">退出登录</el-button></span></div> 
        </el-header>
        <el-main><el-row :gutter="12">
            <el-col :span="24">
              <el-card shadow="always">
                <el-row>
                  <el-col :span="6"><el-tag size="middle">记录总数量: {{ Number }} </el-tag></el-col>
                  <el-col :span="12"><p></p></el-col>
                  <el-col :span="6">
                  <el-input v-model="search" size="middle" placeholder="输入关键字搜索"/>
                  <i slot="suffix" class="el-input__icon el-icon-search"></i></el-input>
                  </el-col>
                </el-row>
              </el-card>
            </el-col>
            <!--<el-col :span="8">
              <el-card shadow="hover">
                <el-tooltip class="item" effect="dark" content="白名单数量" placement="top-start">
                   
                </el-tooltip>
                白名单数量：{{ WhiteList }}
              </el-card>
            </el-col>
            <el-col :span="8">
              <el-card shadow="hover">
                <el-tooltip class="item" effect="dark" content="黑名单数量" placement="top-start">
                
              </el-tooltip>
              黑名单数量：{{ BlackList }}
              </el-card>
            </el-col>-->
          </el-row>
          <template>
            <el-table
              :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
              :stripe="true"
              :header-cell-style="{fontWeight:'bold',fontSize:'13px',color:'#58595d'}"
              style="width: 100%">
              <el-table-column align="center" label="preview" prop="preview" width="160px">
                <template slot-scope="scope">
                  <video v-if="scope.row.name.indexOf('.mp4')>0" style="width: 100%; height: 100%;" controls>
                    <source :src="'/file/'+scope.row.name" type="video/mp4">
                  </video>
                  <el-image
                    v-else
                    style="width: 152px; height: 152px;"
                    :src="'/file/'+scope.row.name"
                    :zoom-rate="1.2"
                    :preview-src-list="['/file/'+scope.row.name]"
                    fit="cover"
                    lazy
                  />
                </template>
              </el-table-column>
              <el-table-column  align="center" label="name" prop="name" width="120px">
              </el-table-column>
              <el-table-column label="data" prop="data">
                <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                  <p>{{ scope.row.metadata }}</p>
                  <div slot="reference" class="name-wrapper">
                    {{ scope.row.metadata }}
                  </div>
                </el-popover>
              </template>
              </el-table-column>
              <el-table-column  align="right"  width="80px">
                <template slot="header" slot-scope="scope">
                  <!--<el-input v-model="search" size="mini" placeholder="输入关键字搜索"/>-->
                </template>
                <template slot-scope="scope">
                  <el-button type="primary" size="mini" icon="el-icon-edit"
                  @click="handleEdit(scope.row.name)"></el-button>
                  <el-button type="success" size="mini" icon="el-icon-document"
                  @click="handleCopy(scope.row.name)"></el-button>
                  <el-button type="primary" size="mini" icon="el-icon-view"
                    @click="handleWhite(scope.$index,scope.row.name)"></el-button>
                  <el-button type="info" size="mini" icon="el-icon-news"
                    @click="handleBlock(scope.$index,scope.row.name)"></el-button>
                  <el-button type="danger" size="mini" icon="el-icon-delete"
                    @click="handleDelete(scope.$index,scope.row.name)"></el-button>
                </template>
              </el-table-column>
            </el-table>
          </template>
        </el-main>
    </el-container>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
  <!-- import JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.3/lib/index.js" integrity="sha256-OFVFYfqhQ9nDnKh+NfIsefpy/fnjTwkK909ZYgo45nw=" crossorigin="anonymous"></script>
  <script>
    var app=new Vue({
      el: '#app',
      data: {
        Number:0,
        WhiteList:0,
        BlackList:0,
        showLogoutButton:false,
        tableData: [],
        dialogFormVisible: false,
        formLabelWidth: '120px',
        form: {
          name: '',
          id: ''
        },
        search: '',
        password:'123456'
      },
      methods: {
      handleCopy(name){
        // 创建一个文本元素
        var textElement = document.createElement('textarea');
        textElement.value = window.location.origin+"/file/"+name;
        // 将文本元素添加到页面中
        document.body.appendChild(textElement);
        // 选择文本元素中的文本
        textElement.select();
        // 执行复制操作
        document.execCommand('copy');
        // 移除文本元素
        document.body.removeChild(textElement);
      },
      handleBlock(index,key) {
        console.log(key);
        if (confirm("确认标记为‘私有’吗?")) {
        console.log("私有标记")
        var requestOptions = {
          method: 'GET',
          redirect: 'follow',
          //include authorization credientials
          credentials: 'include'
        };

        fetch("./api/manage/block/"+key, requestOptions)
          .then(response => response.text())
          .then(result => {console.log(result);
            this.tableData[index].metadata=result;})
          .catch(error =>  {alert("An error occurred while synchronizing data with the server, please check the network connection");console.log('error', error)});
        
        } else {
        console.log("No")
      }
    },
    handleDelete(index,key) {
        console.log(key);
        if (confirm("确认删除该条记录吗?")) {
        console.log("删除该条记录")
        var requestOptions = {
          method: 'GET',
          redirect: 'follow',
          //include authorization credientials
          credentials: 'include'
        };

        fetch("./api/manage/delete/"+key, requestOptions)
          .then(response => response.text())
          .then(result => {console.log(result);this.tableData.remove(index);})
          .catch(error =>  {alert("An error occurred while synchronizing data with the server, please check the network connection");console.log('error', error)});
        
        } else {
        console.log("No")
      }
    },
    handleWhite(index,key) {
      console.log(key);
      if (confirm("确认标记为‘公开’吗?")) {
      console.log("公开标记")
      var requestOptions = {
        method: 'GET',
        redirect: 'follow',
        //include authorization credientials
        credentials: 'include'
      };
      fetch("./api/manage/white/"+key, requestOptions)
          .then(response => response.text())
          .then(result => {console.log(result);this.tableData[index].metadata=result;})
          .catch(error =>  {alert("An error occurred while synchronizing data with the server, please check the network connection");console.log('error', error)});
        
        } else {
        console.log("No")
      }

      },
      handleLogout(){
        window.location.href="./api/manage/logout";
      }
    },
      
    mounted () {
      //check if the user is logged in
      //read the basic auth credientials from the browser
      var requestOptions = {
        method: 'GET',
        redirect: 'follow',
        //include authorization credientials
        credentials: 'include'
      };
      fetch("./api/manage/check", requestOptions)
        .then(response => response.text())
        .then(result => {console.log(result);
          if(result=="true"){
            this.showLogoutButton=true;
          }else if(result=="Not using basic auth."){
            
          }
          else{
            window.location.href="./api/manage/login";
          }
        })
        .catch(error =>  {alert("An error occurred while synchronizing data with the server, please check the network connection");console.log('error', error)});



      Array.prototype.remove = function(from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
      };
      var requestOptions = {
  method: 'GET',
  redirect: 'follow',
  //include authorization credientials
  credentials: 'include'
  
};


fetch("./api/manage/list", requestOptions)
  //判断是否需要登录
  .then(response => {
    if(response.status==401){
      alert("请先登录");
      window.location.href="./api/manage/login";
    }
    else{
      return response;
    }
  })
  .then(response => response.text()) 
  .then(result => {this.tableData=JSON.parse(result);console.log(result);this.Number=this.tableData.length})
  .catch(error => {alert("An error occurred while synchronizing data with the server, please check the network connection");console.log('error', error)});

    }
    })
    
  </script>
</html>
